# Virtual environment
.venv/

# Visual Studio Code settings
.vscode/

# Environment secrets
environment/

# Large data files and directories
Code/DataSourcingCleaning/binance/data/
Data/

# Byte-compiled, optimized, and DLL files
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store

# Temporary files
tmp/

# Specific project files and directories
Final Report/