# Virtual environment
.venv/

# Visual Studio Code settings
.vscode/

# Environment secrets
environment/local-secrets.env

# Large data files and directories
Code/data_sourcing_cleaning/binance/data/
Data/

# Byte-compiled, optimized, and DLL files
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store

# Temporary files
tmp/
Other Resources/

# Specific project files and directories
Final Report/